.text-gradient {
        background: linear-gradient(to top right, #f36e9a, #ff930f);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.bg-gradient {
    background: linear-gradient(to top right, #f36e9a, #ff930f);
}

.bg-gradient-dark {
    background: linear-gradient(to top right, #1e293b, #0f172a);
}