.text-gradient {
        background: linear-gradient(to top right, #fcb045,#fd1d1d,#d14cd1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.bg-gradient {
    background: linear-gradient(to top right, #fcb045,#fd1d1d,#d14cd1);
}

.bg-gradient-2 {
    background: #833ab4;
    background: linear-gradient(
        to right,
        #fcb045,#fd1d1d,#d14cd1
    );
}


.bg-gradient-dark {
    background: linear-gradient(to top right, #1e293b, #0f172a);
}

.gradient-border {
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to top right, #f36e9a, #ff930f);
    background: transparent;
}

.card-color {
    background-color: hsl(var(--card));
}